{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
{{! The big featured header }}
{{! The main content area on the homepage }}
	{{! Everything else gets inserted here }}
	{{> "header"}}
	<div class="row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-10 post-list-container">
						{{#author}}
						<section class="post-author-end" itemscope itemtype="http://schema.org/Person">
							<div style="overflow:hidden;" class="row">
							{{#if image}}
								<figure class="col-sm-2 col-xs-12 text-center " style="border-right:solid 1px #ccc;margin-bottom:-500px;padding-bottom:500px;">
									<div class="post-author-image-container">
										<div class="img-circle post-author-image" style="background-image:url({{image}});">
										</div>
									</div>
								</figure>
							{{/if}}
							<section class="col-sm-10 col-xs-12 post-author-detail">
								<h3><a href="{{url}}" class="post-author-name" itemprop="name">{{name}}</a></h3>
								{{#if bio}}
									<p class="margin-bottom-15 margin-top-15" itemprop="description">{{bio}}</p>
								 {{/if}}
								{{#if location}}
									<span class="margin-bottom-15"><span class='glyphicon glyphicon-map-marker' aria-hidden='true'></span> <span itemprop="address">{{location}}</span></span>
								{{/if}}
								{{#if website}}
									<span class="margin-bottom-15 margin-left-15"><span class='glyphicon glyphicon-link' aria-hidden='true'></span><a href="{{website}}" class="black" itemprop="url" /> {{website}}</a></span>
								{{/if}}
							</section>
						</div>
					</section>



						<div class="row total-post">
							<span class="lead" style="padding-left:20px;">{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
						</div>
						<div class="row" style="border-top:solid 1px #ccc;"></div>
						{{/author}}
						<main role="main">
							<div class="post-list" >
								{{! The tag below includes the post loop - partials/loop.hbs }}
								{{> "loop"}}
							</div>
						</main>
		</div>
		<div class="col-sm-1"></div>
	</div>
	<div style="display:none;">
		{{> "newsletter"}}
	</div>
	{{> "fancyFooter"}}
